// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/functions.sass";

// 2. Set your own initial variables

// Background
$tan: #F3F0EE;
// Update blue
$blue: #0B233A;
$blue-invert: #fff;
// Fonts
$family-logo: 'Quicksand', sans-serif;
$family-header: 'Eczar', serif;
$family-main: 'Source Sans Pro', sans-serif;


// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $blue;
$primary-invert: $blue-invert;
// Use the existing orange as the danger color
// $danger: $orange;

// Use the new serif family
$family-primary: $family-main;
// Use new background
// $background: $blue;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

//Box
$box-shadow: none;
$box-link-hover-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1);
$box-link-active-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1);

// 5. Add new color variables to the color map.
@import "~bulma/sass/utilities/derived-variables.sass";
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "~bulma/bulma.sass";

body {
  margin: 0;
  padding: 0;
  background-color: $tan;
}

.App {
  text-align: center;
}

.logo {
  font-family: $family-logo;
  padding-top: 0.3rem;
}

.hero-header {
  font-family: $family-header;
  color: $blue;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
  // margin-bottom: 2rem;
}

.tan-bg {
  background-color: $tan;
}

.landing-bg {
  background-image: url("static/img/bg.png")
}