.App {
  text-align: center;
}

.logo {
  font-family: 'Quicksand', sans-serif;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
  margin-bottom: 2rem;
}
