.event {
  max-width: 360px;
  margin: 0 auto;
}

.eventItem {
  margin-bottom: 1rem;
}

.repeatTag {
  font-size: 1rem !important;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-weight: 600 !important;
}